body {
height: 100vh;
padding: 0;
margin: 0;
overflow: auto;
background-color: lightgrey;
font-size: 15px;
}


table {
table-layout: fixed;
width: 360px;
}

.small_td {
width: 288px;
overflow-wrap: break-word;
border-top: 1px solid lightgrey;
padding-right: 10px;
}

.sortable-column-header {
    cursor: pointer;
}

.sort-arrow {
    font-size: 1.5em;
}

.selected-header {
    background-color: lightgrey;
    border: 1px solid dimgrey !important;
    z-index: 1000;
}

.xs_td {
width: 120px;
border-top: 1px solid lightgrey;
}

tr:hover {
background-color: gainsboro;
}

.selected-tr {
background-color: gainsboro;
}

.widget {
border: 1px solid darkslategray; 
box-shadow: 1px 1px 5px lightgrey;
border-radius: 3px;
background-color: white;
/* width: fit-content;  */
height: fit-content;
}

.widget_title {
text-align: center;
font-weight: bold;
font-size: 1.2em;
}

.widget_title:hover {
cursor: pointer;
}

.widget_content {
height: fit-content;
max-height: 290px;
padding: 0 8px;
}

#localAreaThreshold {
width: 200px;
display: inline;
}

input[type=number] {
width: 50px;
}


html {
padding: 0;
margin: 0;
}

#container {
position: relative;
}

.super-widget {
margin: 0px;
background-color: whitesmoke;
overflow: hidden;
border: 3px solid darkslategray;
}

/* CORPUS LEVEL */
#corpus-widget-container {
background-color: white;
z-index: 100;
display: flex;
flex-direction: row;
width: 100%;
padding: 10px;
height: 220px;
justify-content: space-evenly;
}

#super-container {
position: relative;
height: 1440px; 
width: 2560px;
}

#corpus-level {
position: absolute;
display: flex;
height: auto;
top: 20px;
bottom: 20px;
left: 20px;
background-color: white;
width: 1220px;
flex-direction: column;
overflow: initial;
}

#filter-options {
width: 375px;
height: 100%;
}

#map_options {
width: 330px;
height: 100%;
}

#local-words {
width: 385px;
height: 100%;
}


/* INTENT LEVEL */
#intent-cluster-table-content {
    height: 300px;
}

#intent-level {
position: absolute;
bottom: 20px;
left: 1260px;
width: 1280px;
height: 380px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

#intent-clusters {
width: 430px;
height: 350px;
}

#confusions {
width: 760px;
height: 350px;
}

/* SAMPLE LEVEL */
#sample-level {
position: absolute;
overflow: hidden;
top: 20px;
left: 1260px;
height: 1000px; 
width: 1280px; 
opacity: 1; 
display: flex; 
flex-wrap: wrap; 
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 10px;
z-index: 100;
}

#summary-container {
border: 3px solid red;  
background-color: white;
/* font-size: 18px; */
}

#importance-container {
background-color: white;
}

.sample-lvl-viz {
width: 600px;
height: 470px;
padding: 5px;
}

.sample-lvl-content {
height: 410px;
max-height: 410px;
width: 585px;
overflow-y: auto;
margin: 0;
padding: 5px;
}

.rel_chart_right {
width: 300px;
}

#corpus-lvl-title {
margin: 10px;
}

.instance-level-placeholder {
    height: 350px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 160px 0;
    color: grey;
}

.inline-select {
    display: inline !important;
    width: 100px !important;
    font-weight: bold;
    border-color: lightgray;
    background-color: whitesmoke;
}

#local-feature-type-select {
    width: 130px !important;
}

.freqThreshold {
    width: 60px !important;
}

.local_word:hover {
    cursor: pointer;
}

#progress-cover {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 80%;
    text-align: center;
    vertical-align: bottom;
    pointer-events: none;
}