body {
height: 100vh;
padding: 0;
margin: 0;
overflow: hidden;
background-color: whitesmoke;
font-size: 13px !important;
}


table {
table-layout: fixed;
width: 360px;
}

.small_td {
width: 225px;
overflow-wrap: break-word;
border-top: 1px solid lightgrey;
padding-right: 10px;
}

.sortable-column-header {
    cursor: pointer;
}

.sort-arrow {
    font-size: 1.5em;
}

.selected-header {
background-color: lightgrey;
border: 1px solid dimgrey !important;
z-index: 1000;
}

.xs_td {
width: 100px;
border-top: 1px solid lightgrey;
}

tr:hover {
background-color: gainsboro;
}

.selected-tr {
background-color: gainsboro;
}

.widget {
border: 1px solid darkgrey; 
/* box-shadow: 1px 1px 5px darkgrey; */
border-radius: 0;
background-color: white;
/* width: fit-content;  */
height: fit-content;
}

.widget_title {
text-align: center;
font-weight: bold;
font-size: 1.2em;
background-color: #dadada;
margin: 0px;
}

.widget_content {
height: fit-content;
max-height: 290px;
padding: 0px;
}

#localAreaThreshold {
width: 115px;
display: inline;
}

input[type=number] {
width: 44px;
height: 20px;
padding: 0;
}


html {
padding: 0;
margin: 0;
}

#container {
position: relative;
display: flex;
flex-direction: row;
margin-top: 5px;
}

.super-widget {
margin: 0px;
background-color: white;
overflow: hidden;
box-shadow: 1px 1px 5px lightgrey;
border: 1px solid lightgrey;
}

.super_widget_title {
background-color: lightblue;
font-weight: bold;
font-size: 1.5em;
}

/* CORPUS LEVEL */
.corpus-widget-container {
background-color: white;
z-index: 100;
display: flex;
flex-direction: row;
width: 100%;
padding: 4px;
height: 220px;
justify-content: space-evenly;
}

#filter-options {
width: 240px;
}

#map_options {
width: 305px;
}

#local-words {
width: 417px;
}

.corpus-widget-container .widget_content {
padding: 5px;
}

#list-view {
position: absolute;
left: 10px;
width: 1000px;
height: 350px;
bottom: 10px;
z-index: 1000;
}

#list-view-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
height: 310px;
}

.map-list-view {
display: inline-flex;
flex-direction: row;
background-color: white;
z-index: 100;
width: 100%;
flex: 1;
padding-top: 10px;
justify-content: space-evenly;
}

.list_view {
display: flex;
flex-direction: column;
flex: 1;
height: 100%;
padding: 0;
overflow-y: hidden;
border-radius: 0;
margin-left: 8px;
}

.list_view:last-child {
margin-right: 8px;
}

.list_view .widget_content {
display: flex;
flex-direction: column;
flex: 1;
height: 100%;
padding: 0px;
overflow-y: hidden;
border-radius: 0;
}

.contrastive-bar-chart {
overflow-y: auto;
max-height: 100%;
flex-shrink: 0;
flex-grow: 1;
width: 100%;
padding: 0px;
margin: 0px;
background-color: whitesmoke;
}

.advanced-option {
display: none;
}

.advanced-option-toggle {
cursor: pointer;
float: right;
margin-right: 5px;
margin-top: 3px;
border: 1px solid darkgrey;
width: 15px;
height: 15px;
font-size: 10px;
color: dimgrey;
}

.advanced-option-toggle:hover {
background-color: rgba(0, 0, 0, 0.1);    
}

.comparison-group {
position: relative;
}

.map-view-header {
display: none;
width: 10%;
text-align: center;
font-weight: bold;
position: absolute;
top: 0;
left: 30px;
background-color: white;
}

#super-container {
position: relative;
height: 1100px; 
width: 1853px;
margin: 0;
}

#corpus-level {
position: absolute;
display: flex;
top: 10px;
height: 705px;
left: 10px;
background-color: white;
width: 1000px;
flex-direction: column;
overflow: initial;
}

#list-view {
    flex-direction: row;
}

/* Label LEVEL */

#label-level {
position: absolute;
bottom: 10px;
left: 1030px;
width: 810px;
height: 350px;
}

#label-level-row-container {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
padding-top: 8px;
}

#label-clusters {
display: flex;
flex-direction: column;
width: 210px;
height: 300px;
}

#label-cluster-table-content {
height: 100%;
}

#label_filter {
border-radius: 0;
border: none;
}

#confusions {
display: flex;
flex-direction: column;
width: 570px;
height: 300px;
}

#confusions .widget_content {
height: 100%;
overflow-y: scroll; 
overflow-x: hidden;
padding: 3px;
}

/* SAMPLE LEVEL */
#sample-level {
position: absolute;
overflow: hidden;
top: 10px;
left: 1030px;
height: 705px; 
width: 810px; 
opacity: 1;
z-index: 100;
}

#sample-level-container {
display: flex; 
flex-wrap: wrap; 
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 8px;
}

#summary-container {
background-color: white;
}

#importance-container {
background-color: white;
}

.sample-lvl-viz {
display: flex;
align-items: stretch;
flex-direction: column;
width: 390px;
height: 325px;
margin-bottom: 5px;
overflow: hidden;
}

.sample-lvl-content {
max-height: 100%;
flex: 1;
overflow-y: auto;
margin: 0;
padding: 0 5px;
}

.rel_chart_left {
height: 100%;
}
    
.rel_chart_right {
width: 55%;
height: 100%;
}

.relchart-control {
text-align: start;
margin-left: 5px;
padding-bottom: 5px;
border-bottom: 1px solid lightgrey;
}

.relchart-header {
border-bottom: 1px solid lightgrey; 
font-weight: bold; 
color: grey; 
padding: 5px; 
justify-content: space-between; 
width: 100%; 
display: flex;
}

#summary {
display: flex;
flex-direction: column;
height: 100%;
}

.instance-level-placeholder {
height: 100%;
width: 100%;
text-align: center;
color: grey;
}

.inline-select {
    display: inline !important;
    width: 100px !important;
    font-weight: bold;
    border-color: lightgray;
    background-color: whitesmoke;
}

#local-feature-type-select {
    width: 130px !important;
}

.freqThreshold {
    width: 55px !important;
}

.freqThreshold-concept {
    width: 55px !important;
}

.local_word:hover {
    cursor: pointer;
}

#progress-cover {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 80%;
    text-align: center;
    vertical-align: bottom;
    pointer-events: none;
}

.widget_content svg {
    overflow: visible;
}

.filter-remove-btn:hover {
    cursor: pointer;
}

.filter-container {
    width: 95%;
    margin-bottom: 0;
}

.filter-container .badge {
    margin: 0 0 0 3px !important;
}

#filter-container-1 {
    display: none;
}

#filter {
width: 112px;
height: 20px;
}

.info-sign {
    font-weight: lighter;
    color: grey;
    cursor: pointer;
}

#super-tooltip {
    background-color: whitesmoke !important;
    max-width: 500px;
    box-shadow: 1px 1px 10px grey;
}

.map-legend {
    font-size: 0.8em;
    position: absolute;
    border: 1px solid grey;
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 1px 1px 2px lightgray;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    max-height: 200px;
    max-width: 130px;
    display: none;
}

.label-group-type-predicted {
    border: 1px solid red;
}

.model-select-legend {
display: none;
}

.full-list-toggle {
cursor: pointer;
float: right;
margin-right: 5px;
margin-top: 3px;
border: 1px solid darkgrey;
width: 15px;
height: 15px;
font-size: 10px;
color: dimgrey;
}

.label-select-map-specific {
    margin: 0;
    width: 80px;
}